# OS & Editor
.DS_Store
Thumbs.db
*.lck
~*.lck
*.log
*.bak
*.orig
.history/
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
*.venv/
*.egg-info/
local_config.json

# PlatformIO & Embedded Builds
.pio/
build/
target/

# Mobile (Flutter)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Databases & Cache
*.sqlite3
*.db
auth.db
memory.db

# KiCad backup & temporary
*-save.kicad_pcb
*-save.kicad_sch
*.kicad_prl.bak
